.fc-time {
    color: #ffffff;
}

#calendar {
    /* 		float: right; */
    margin: 0 auto;
    width: inherit;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    margin-top:1em
}
.fc-time> span, .fc-title {
    color: #ffffff;
    font-weight: bold;
}

.book {height: auto;background: #204181;color: #fff;width: 100px; -webkit-border-radius: 3rem; -moz-border-radius: 3rem;border-radius: 3rem;margin-top:3em}
.center{margin:0 auto}
.fc-center {
    font-size: 30px;
    font-weight: bold;
}