p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Avenir Book", sans-serif !important;
}

.oi {
    font-family: Icons !important;
}

.ftco-navbar-light,
.hero-wrap {
    background: #fff !important;
}


/* .py-md-5 {
    padding-top: 0 !important;
    ;
} */

@media (min-width: 992px) and (max-width: 1280px) {
    .ftco-footer {
        padding-left: 81px !important;
    }
    .s2_vi {
        max-height: 550px !important;
    }
    .s2_ko {
        max-height: 480px !important;
    }
    .s2_en {
        max-height: 510px !important;
    }
    #ftco-navbar {
        top: 0;
    }
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-left: 10px !important;
        padding-right: 15px !important;
    }
    .wraper2 {
        text-align: center !important;
        padding-left: 42% !important;
        padding-right: 20% !important;
        padding-top: 4% !important;
        padding-bottom: 7% !important;
        background-image: url("/sg/dieukiendangki.jpg");
    }
    .img_cacbuoc {
        max-width: 60% !important;
    }
}

@media (min-width: 1280px) and (max-width:1920px) {
    .ftco-footer {
        padding-left: 81px !important;
    }
    .s2_vi {
        max-height: 550px !important;
    }
    .s2_ko {
        max-height: 480px !important;
    }
    .s2_en {
        max-height: 510px !important;
    }
    #ftco-navbar {
        top: 0;
    }
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-left: 10px !important;
        padding-right: 15px !important;
    }
    .wraper2 {
        text-align: center !important;
        padding-left: 45% !important;
        padding-right: 11% !important;
        padding-top: 4% !important;
        padding-bottom: 7% !important;
        background-image: url("/sg/dieukiendangki.jpg");
    }
    .img_cacbuoc {
        max-width: 60% !important;
    }
    .wp {
        margin-top: 6em;
    }
}

@media (max-width: 768px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        color: #000 !important;
    }
    .s2_vi {
        max-height: 540em !important;
    }
    .s2_ko {
        max-height: 510em !important;
    }
    .s2_en {
        max-height: 510em !important;
    }
    .fadeInLeftBig {
        font-size: 24px !important;
        line-height: 30px;
    }
    .fadeInRightBig {
        font-size: 20px !important;
        line-height: 28px;
    }
    .wraper2 {
        width: inherit;
        display: inherit;
        margin-left: auto;
        margin-right: auto;
        background-image: url("/sg/dieukiendangki.jpg");
    }
    .img_cacbuoc {
        max-width: 100% !important;
    }
    .img__wrap {
        margin-bottom: 2em !important;
    }
    .wp {
        padding-right: 1em !important;
        padding-left: 1em !important;
    }
    /* //css mobile */
    #Facilities,
    .img__wrap_mb,
    #Resident {
        padding-top: 2.5em !important;
    }
    #contact {
        padding-top: 6.5em !important;
    }
    #market {
        padding-top: 5.5em
    }
    .wraper {
        padding: 0 !important;
    }
    #condition {
        padding-top: 5em;
    }
}

.nav-link {
    display: inline-block !important;
    font-family: "Avenir Book", sans-serif;
    text-transform: uppercase !important;
    letter-spacing: 0.1em !important;
}

.ftco-footer {
    background: #1d447d !important;
    padding-bottom: 0px !important;
    padding-top: 50px !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.menu_ko {
    font-size: 15px !important;
    color: #53565a !important;
    font-weight: bold
    /* padding-left: 10px !important;
    padding-right: 10px !important; */
}

.ftco-navbar-light .navbar-nav>.nav-item>.menu_en {
    font-size: 13px !important;
    color: #53565a !important;
    font-weight: bold
    /* padding-left: 10px !important;
    padding-right: 10px !important; */
}

.footer-info li {
    list-style-type: none;
}

.footer-info {
    padding-left: 0 !important;
}

.footer-info li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer-info li {
    color: #ffffff;
}

.footer-info li {
    line-height: 38px !important;
}

.text-footer {
    color: #ffffff !important;
    font-size: 20px !important
}

.footer-info li span {
    font-family: "Avenir Book", sans-serif !important;
}

.heading-left {
    display: flex;
}

.ft_icon {
    /* height: 36px; */
    margin-right: 15px;
}

.text-footer2 {
    color: #ffffff !important;
    font-size: 40px !important;
}


/* relevant styles */

.img__description_layer {
    clear: both;
    position: absolute;
    top: 10;
    bottom: 0;
    left: 15px;
    right: 15px;
    background: #1d447d;
    color: #fff !important;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: opacity .2s, visibility .2s;
}

.img__description_layer {
    visibility: visible;
    opacity: 0.8;
}

.img__description {
    color: #ffffff !important;
    font-weight: normal;
    font-size: 23px;
}

.img__wrap .img__description {
    transform: translateY(0);
}

.mr-md-5 h3:before {
    height: 2px;
    width: 75px;
    top: 44px;
    left: 68px;
    content: '';
    background: #c23127;
    position: absolute;
    color: #1f3871;
}

.col-img h3:before {
    height: 2px;
    width: 75px;
    top: 44px;
    left: 63px;
    content: '';
    background: #c23127;
    position: absolute;
    color: #1f3871;
}

.col-footer h3::before {
    height: 2px;
    width: 75px;
    top: 55px;
    left: 84px;
    content: '';
    background: #c23127;
    position: absolute;
    color: #1f3871;
}

h3.mb-4 {
    padding-left: 0 !important;
    color: #1f3871;
    font-size: 30px !important;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    position: relative;
    padding: 0 15px;
    text-transform: capitalize;
}

.img__description_layer h3::before {
    color: #fff;
}

.nav-item a:hover {
    border-bottom: 1px solid #c23127;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

#button {
    display: inline-block;
    background-color: none;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}


/* //css animation */

.animation-element {
    opacity: 0;
    position: relative;
}

.animation-element.slide-left {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    opacity: 0;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-right {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    opacity: 0;
    -moz-transform: translate3d(100px, 0px, 0px);
    -webkit-transform: translate3d(100px, 0px, 0px);
    -o-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-left.in-view,
.animation-element.slide-right.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}


/* //css */

.slider-item .box-text {
    top: 58%;
    left: 50%;
    width: 100%;
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.box-text h2 {
    font-size: 46px;
    font-weight: 900;
    letter-spacing: -2px;
    color: #ffffff
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.box-text h3 {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif !important;
}

.slider-item:before {
    background: rgba(25, 25, 112, 0.5);
}

.slider-item:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: rgba(25, 25, 112, 0.5);
}

.logo {
    max-width: 210px;
}

.header-menu-language-label::after {
    content: "ˇ";
    font-size: 26px;
    vertical-align: top;
    margin-left: 4px;
    color: rgb(157, 157, 157);
    position: absolute;
    right: 5px;
}

.header-menu-language-label {
    position: relative;
    z-index: 101;
    cursor: pointer;
    color: #9d9d9d;
    white-space: nowrap;
    padding-right: 18px;
    direction: rtl;
}

.header-menu-language-list {
    /* display: none; */
    position: absolute;
    top: 25px;
    left: -20px;
    list-style: none;
    margin: 0;
    padding: 15px 60px 15px 30px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(128, 128, 128, 0.2);
    box-shadow: 0 2px 4px rgba(128, 128, 128, 0.2);
    z-index: 100;
}

.wraper {
    width: inherit;
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/sg/bg_cacbuoc.png');
    text-align: center;
    padding: 4em;
}


/* //ul menu modal */

.ml_language {
    margin-left: 0 !important;
    width: inherit;
    margin-right: auto;
    text-align: center;
}

.ml_language li a {
    color: #002E5D;
    font-weight: 400;
}

.logo_dk {
    background: transparent !important;
    max-width: 40% !important;
    border: none !important;
}